*{
    background-color: black;
    color:white;
}
.project {
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: center;
}

title{
    font-family: 'Times New Roman', Times, serif;
}

header {
    font-family: "Trajan Pro", serif;
    padding-bottom: 10px;
}

.welcome h1{
    font-style: italic;
}

.welcome p{
    font-family: cursive;
    font-size: 14pt;
    font-weight: 500;
    padding: 10px;
    letter-spacing: 1px;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}


.connect {
    font-style: italic;
    padding-right: 10px;
    text-align: left;
    
}
a.fa:hover{
    color:red;
}
.fa{
    width: 100%;
}

.photo{
    margin: 10px;
    width:300px;
    height:200px
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    text-align: justify;
    font-size: 24px;
    font-family: cursive;
    width:100%;
}
a.button:hover{
    color:red
}
.links{
    line-break: auto;
}
.welcome img:hover{
    animation-play-state: paused;
}
.welcome img{
    
    width: 400px;
    height: 300px;
}
